* {
  box-sizing: border-box;
}

h1 {
	font-size: 27px;
	font-family: Georgia serif;
	text-align: center;
	
	margin-bottom: 30px;
}

p {
	
	font-family: Georgia sans-serif;
	font-size: 18px;
        padding: 15px;
	position: relative;
}

.section { 
	background-color: gray;
   	border: 2px solid black;
   	margin-top: 20px; 
        background-color: gray;
   	margin-right: 20px; 
   	padding: 3px;
   	text-align: justify;
   	position: relative;
 }

span {
	font-size: 20px;
	width: 150px;
	border: 1px solid black;
        margin: 0;
	text-align: center;
	float: right; 
        top :0; 
        right: 0; 
        
        font-weight: bold;
	position: absolute;
}



.row {
	width: 100%;
}
@media(min-width: 992px) 
{ .col-lg-1,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8.col-lg-8,.col-lg-9,.col-lg-10,.col-lg-11,.col-lg-12
{
float: left;
border: 2px black;
pading: 0px;
}
.col-lg-1
{
width: 8.33%;
}
.col-lg-2
{
width: 16.66%;
}
.col-lg-3
{
width: 25%;
}
.col-lg-4
{
width: 33%;
}
.col-lg-5
{
width: 41.66%;
}
.col-lg-6
{
width: 50%;
}
.col-lg-7
{
width: 58.33%;
}
.col-lg-8
{
width: 66.66%;
}
.col-lg-9
{
width: 74.99%;
}
.col-lg-10
{
width: 83.33%;
}
.col-lg-11
{
width: 91.66%;
}
.col-lg-12
{
width: 100%;
}
}
@media(min-width: 768px) and  (max-width: 991px)
{ .col-md-1,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8.col-md-8,.col-md-9,.col-md-10,.col-md-11,.col-md-12
{
float: left;
border: 2px black;
}
.col-md-1
{
width: 8.33%;

}
.col-md-2
{
width: 16.66%;

}
.col-md-3
{
width: 25%;

}
.col-md-4
{
width: 33%;

}
.col-md-5
{
width: 41.66%;

}
.col-md-6
{
width: 50%;

}
.col-md-7
{
width: 58.33%;

}
.col-md-8
{
width: 66.66%;

}
.col-md-9
{
width: 74.99%;

}
.col-md-10
{
width: 83.33%;

}
.col-md-11

{
width: 91.66%;
f
}
.col-md-12

{
width: 100%;

}
}
@media(min-width: 767px)
{ .col-sx-1,.col-sx-2,.col-sx-3,.col-sx-4,.col-sx-5,.col-sx-6,.col-sx-7,.col-sx-8.col-sx-8,.col-sx-9,.col-sx-10,.col-sx-11,.col-sx-12
{
float: left;
border: 2px black;
}
.col-sx-1
{
width: 8.33%;

}
.col-sx-2
{
width: 16.66%;

}
.col-sx-3
{
width: 25%;

}
.col-sx-4
{
width: 33%;

}
.col-sx-5
{
width: 41.66%;

}
.col-sx-6
{
width: 50%;

}
.col-sx-7
{
width: 58.33%;

}
.col-sx-8
{
width: 66.66%;

}
.col-sx-9
{
width: 74.99%;

}
.col-sx-10
{
width: 83.33%;

}
.col-sx-11

{
width: 91.66%;
f
}
.col-sx-12

{
width: 100%;

}
}


#pp1 {
	background-color: red;
}

#pp2 {
	background-color: green;
	
	
}
#pp3 {
	background-color: pink;
	

	
}